* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


main {
    background-color: darkgray;
    padding: 1em;
}

main div h1 {
    margin-bottom: 30px;
    font-size: 1.5rem;
}

main div img {
    width: 100px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.product-container {
    padding: 1em;
}

.product {
    display: flex;
    gap: 1em;
}