<main class="userSession-main">
    <div class="userSessionForm-container">
        <h1>Login</h1>
        <form class="userSessionForm" id="loginForm">
            <div>
                <label>Email</label>
                <input class="formField" name="email">
            </div>
            <div>
                <label>Password</label>
                <input class="formField" type="password" name="password">
            </div>

            <br>
            <div>
                <input class="btn-normal" type="submit">
            </div>
        </form>
    </div>
    <div>
        <p>¿Not Signed Up? <a href="/users/register">Register Here</a></p>
        <p>¿Do you have GitHub Account? <a href="/github/login">Register Here</a></p>
    </div>
</main>

<script src="/js/login.js"></script>