<main class="githubLogin-main">

    <div>
        <h1>Login with GitHub</h1>
    </div>

    <div class="btn-normal">
        <a href="/api/extend/users/github"><button>Entrar con Github</button></a>
    </div>

    <div class="text-container">
        <h4>Whant to use GitHub? Use our links:</h4>
        <p>¿Not registered? <a href="/user/register">Register Here</a></p>
        <p>¿Do you have an account with us? <a href="/user/login">Login Here</a></p>
    </div>



</main>